@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 30px;
    font-family: 'Rock Salt', Georgia, sans-serif;
    text-align: center;
}

h1 {
    font-size: 90px;
}

p {
    padding: 30px;
    font-family: Montserrat, sans-serif;
    font-size: 20px
}

.para-one {
    background-color: #f2e2ce;
}

.para-two {
    background-color: #8178eb;

}
