@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');

body {
    font-size: 30px;
    font-family: Arial, Georgia, sans-serif;
    text-align: center;
}
